.bedankt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @media only screen and (max-width: 900px) {
        flex-direction: column;
    }
}

.bedankt__img-container {
    width: 40%;

    @media only screen and (max-width: 900px) {
        width: 100%;
    }
}

.bedankt__img {
    width: 100%;
    height: auto;

    @media only screen and (max-width: 900px) {
        width: 300px;
    }
}

.bedankt__text-container {
    width: 60%;
    padding: 2rem;

    @media only screen and (max-width: 900px) {
        width: 100%;
    }
}
