.bemiddelaar-card {
    width: 80%;
    margin: 0 auto 2rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 5px rgba($color-black, 0.5);
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    @media only screen and (max-width: 900px) {
        width: 100%;
    }

    @media only screen and (max-width: 650px) {
        flex-direction: column;
    }
}

.bemiddelaar-card__bemiddelaar {
    margin-left: 1.5rem;
    max-width: 75%;
    @media only screen and (max-width: 650px) {
        margin: auto;
        max-width: unset;
        margin-top: 0.5rem;
    }
}

.bemiddelaar-card__subkop {
    color: darken($color-darkgrey, 20%);
    text-align: center;
    font-size: 1.4rem;

    @media only screen and (max-width: 650px) {
        margin-top: 0.8rem;
    }
}

.bemiddelaar-card__naam {
    text-align: center;
}

.bemiddelaar-card__foto {
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba($color-secondary, 0.5);
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 0 0 5px rgba($color-primary, 0.8);
}

.bemiddelaar-card__items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;

    & > *:not(:first-child) {
        margin-left: 1rem;
    }
    @media only screen and (max-width: 650px) {
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    @media only screen and (max-width: 380px) {
        flex-wrap: wrap;
    }
}

.bemiddelaar-welkom {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0;

    &__foto-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }

    &__tekst {
        justify-content: flex-start;
        // p {
        //     max-width: 65%;
        //     @media only screen and (max-width: 650px) {
        //         max-width: 100%;
        //     }
        // }
    }
}
