.mijnps-form {
    font-size: 1.6rem;
    line-height: 1;
    color: $color-black;
    font-family: $font-open-sans;

    label {
        vertical-align: middle;
        line-height: 1.5;
    }

    input:focus {
        outline: 1px solid $color-primary;
        outline-offset: 1px;
    }

    // Input fields
    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='number'],
    input[type='search'],
    input[type='tel'] {
        padding: 0.5rem 0.8rem;
        border: 1px solid $color-black;
        border-radius: 3px;
        display: block;
        margin-bottom: 1rem;
        min-width: 300px;
    }

    input[type='submit'] {
        display: block;
        margin-bottom: 1rem;
    }

    // Radio buttons
    input[type='radio'] {
        position: absolute;
        left: -500rem;
        opacity: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
        margin-bottom: 1rem;

        &:focus ~ span {
            outline: 1px solid $color-primary;
            outline-offset: 1px;
        }

        & ~ span {
            position: relative;
            cursor: pointer;

            &::before {
                content: '';
                height: 1.6rem;
                width: 1.6rem;
                border-radius: 50%;
                border: 1px solid $color-black;
                display: inline-flex;
                margin-right: 0.5rem;
                transition: background 0.1s ease-in-out;
            }
        }

        &:checked ~ span::before {
            background: radial-gradient($color-primary 50%, transparent 50%);
        }
    }

    // Checkbox
    input[type='checkbox'] {
        position: absolute;
        left: -500rem;
        opacity: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;

        &:focus ~ span {
            outline: 1px solid $color-primary;
            outline-offset: 1px;
        }

        & ~ span {
            position: relative;
            cursor: pointer;

            &::before {
                content: '\2713';
                color: transparent;
                height: 1.6rem;
                width: 1.6rem;
                margin-right: 0.5rem;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $color-black;
                border-radius: 3px;
                transition: background 0.1s ease-in-out;
            }
        }

        &:checked ~ span::before {
            background: $color-primary;
            color: $color-white;
        }

        &:disabled ~ span::before {
            background: $color-darkgrey;
        }
    }

    // Toggler
    .toggler {
        input[type='checkbox'] {
            position: absolute;
            left: -500rem;
            opacity: 0;
            height: 1px;
            width: 1px;
            overflow: hidden;
            margin-bottom: 1rem;

            &:focus ~ span {
                outline: 1px solid $color-primary;
                outline-offset: 1px;
            }

            & ~ span {
                position: relative;

                &::before {
                    content: '';
                    height: 1.2rem;
                    width: 3.1rem;
                    background: linear-gradient(to left, #cfcfcf 50%, $color-primary 50%);
                    background-size: 200%;
                    background-position: right;
                    border-radius: 500rem;
                    display: inline-block;
                    border: none;
                    margin-right: 0.8rem;
                    transition: all 0.15s linear;
                }

                &::after {
                    content: '';
                    height: 1.5rem;
                    width: 1.5rem;
                    border-radius: 50%;
                    background: linear-gradient(to bottom, $color-white, darken($color-white, 10%));
                    box-shadow: 0 0 3px $color-black;
                    position: absolute;
                    top: 3px;
                    left: 1px;
                    transition: transform 0.15s linear;
                }
            }

            &:checked ~ span::before {
                background-position: left;
            }

            &:checked ~ span::after {
                transform: translateX(1.5rem);
            }
        }
    }

    // Textarea
    textarea {
        padding: 1rem;
        border: 1px solid $color-black;
        border-radius: 4px;
        margin-bottom: 1rem;
        font-family: $font-open-sans;
        font-size: 1.6rem;
        line-height: 1.5;

        &:focus {
            outline: 1px solid $color-primary;
        }
    }

    // Select
    select {
        padding: 0.8rem 1.2rem;
        min-width: 20rem;
        color: $color-black;
        margin-bottom: 1rem;

        &:focus {
            outline: 1px solid $color-primary;
        }
    }
}

.login-form {
    position: absolute;
    width: 35%;
    min-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);

    input {
        width: 100%;
    }
}

.form-input-error {
    background: rgba($color-negative, 0.5);
}
