.fullscreen-loader__container {
    position: fixed;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    background: $color-white;
    z-index: 99;
}

.fullscreen-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    &__bar {
        height: 1rem;
        width: 1.8rem;
        background: $color-primary;
        animation: loader-pulse 1s linear infinite;

        &:not(:last-child) {
            margin-right: 0.8rem;
        }

        &:nth-child(2) {
            animation-delay: 0.1s;
        }
        &:nth-child(3) {
            animation-delay: 0.2s;
        }
        &:nth-child(4) {
            animation-delay: 0.3s;
        }
        &:nth-child(5) {
            animation-delay: 0.4s;
        }
    }
}

@keyframes loader-pulse {
    0% {
        height: 1rem;
    }

    25% {
        height: 8rem;
    }

    50% {
        height: 1rem;
    }
}
