.menu {
    height: 50px;
    width: 100%;
    background: $color-primary;
    position: relative;
    z-index: 1000;
    box-shadow: 0 -3px 6px $color-black;
    position: fixed;

    // MENU BURGER
    &-burger {
        display: none;
        margin: 0 1rem;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        &__burger {
            color: $color-white;
            font-weight: bold;
            display: block;
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            font-size: 2rem;
            line-height: 1;
            cursor: pointer;

            &::before,
            &::after {
                content: '\2014';
                position: absolute;
                transition: all 0.4s ease-in-out;
            }
            &::before {
                top: 9px;
                left: 0;
            }
            &::after {
                bottom: 8px;
                left: 0;
            }

            &--open {
                color: transparent;
                transition: transform 0.2s ease-in-out;

                &::before,
                &::after {
                    color: $color-white;
                    transform-origin: left;
                }
                &::before {
                    transform: rotate(45deg);
                    top: 8px;

                    @media only screen and (max-width: 400px) {
                        top: 9px;
                    }
                }
                &::after {
                    transform: rotate(-45deg);
                    left: -2px;
                    top: 21px;

                    @media only screen and (max-width: 400px) {
                        left: -1px;
                    }
                }
            }
        }

        &__container {
            width: 100%;
            position: fixed;
            top: 50px;
            height: calc(100vh - 50px);
            background: rgba($color-black, 0.6);
        }

        &__menu {
            z-index: 100;
            position: fixed;
            top: 50px;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            max-width: 40rem;
            height: calc(100vh - 50px);
            overflow-y: auto;
            background: #dfdfdf;
            box-shadow: 0 5px 5px $color-black;
        }

        &__item {
            padding: 2rem 1.5rem;
            width: 100%;
            text-decoration: none;
            transition: all 0.1s ease-in-out;

            &:not(:last-child) {
                border-bottom: 1px solid rgba($color-black, 0.5);
            }

            &.router-link,
            &:link,
            &:visited {
                text-decoration: none;
                color: $color-black;
            }
            &.router-link-active {
                font-weight: bold;
                color: $color-primary;
                text-decoration: none;
            }

            &:hover {
                padding-left: 2rem;
                text-decoration: underline;
            }
        }
    }

    // MENU REGULAR
    &-regular {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 8rem;
            padding: 1rem;
            height: 100%;
            color: $color-white;
            font-size: 1.6rem;
            text-decoration: none;
            flex-shrink: 0;

            &.router-link,
            &:link,
            &:visited {
                color: white;
                text-decoration: none;
            }
            &.router-link-active {
                background: linear-gradient(to bottom, transparent 90%, $color-accent 90%);
            }

            &:hover {
                background: linear-gradient(to bottom, transparent 90%, $color-accent 90%);
            }

            &:not(:last-child) {
                border-right: 1px solid rgba($color-white, 0.7);
            }
        }
    }
}

.menu-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.menu-brand {
    font-size: 3rem;
    font-family: $font-oleo;
    color: $color-white;
    margin: 0 1rem;
    cursor: pointer;
}
.header__logo {
    width: 7rem;
    height: 31px;
}

@media only screen and (max-width: 900px) {
    .menu-regular {
        display: none;
    }
    .menu-burger {
        display: flex;
    }
}

// MENU ANIMATION
.psmenu-enter-active,
.psmenu-leave-active {
    transition: all 0.2s ease-in-out;
}

.psmenu-enter,
.psmenu-leave-to {
    left: -60rem;
}
