.pb-card {
    position: relative;
    display: block;
    width: 100%;
    min-width: 300px;
    margin: 1rem auto;
    background-color: $color-white;
    color: $color-black;
    box-shadow: 0 0 5px rgba($color-black, 0.5);

    &__foto-container {
        position: relative;
        display: inline-block;
        width: 350px;
        // max-height: 400px;
        overflow: hidden;

        @media only screen and (max-width: 820px) {
            display: block;
            margin: 0 auto;
        }

        @media only screen and (max-width: 400px) {
            width: 100%;
        }
    }

    &__foto {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__tekst {
        vertical-align: top;
        padding: 1rem;
        display: inline-block;
        width: calc(100% - 350px);
        word-wrap: break-word;
        white-space: pre-line;

        @media only screen and (max-width: 820px) {
            display: block;
            width: 100%;
        }
    }

    &__buttons {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        & > * {
            margin-right: 1rem;
            @media only screen and (max-width: 980px) {
                margin-bottom: 0.5rem;
            }
        }

        @media only screen and (max-width: 560px) {
            flex-direction: column;
        }
    }
}
