.oleo {
    font-family: $font-oleo;
    color: $color-primary;
}

.oleo-black {
    font-family: $font-oleo;
    color: $color-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
}

h3.oleo,
h3.oleo-black {
    font-size: 2.1rem;
}

h4.oleo,
h4.oleo-black {
    font-size: 1.9rem;
}
