$color-primary: #ff5500;
$color-secondary: #59c0c1;
$color-accent: #f1c718;
$color-white: #fff;
$color-lightgrey: #eee;
$color-darkgrey: #bbb;
$color-black: #25384c;

$color-positive: #21ba45;
$color-negative: #c10015;
$color-info: #31ccec;
$color-warning: #f2c037;

// -----------------
// FONTS
// -----------------
@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

$font-oleo: 'Oleo Script Swash Caps', cursive;
$font-open-sans: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;

// -----------------
// BASIC CSS RESET
// -----------------
html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width: 900px) {
        font-size: 57.5%;
    }
    @media only screen and (max-width: 680px) {
        font-size: 57.5%;
    }
    @media only screen and (max-width: 400px) {
        font-size: 53.5%;
    }
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: $font-open-sans;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $color-black;
}

.mijnps-content-container {
    background: $color-secondary;
    width: 100%;
    position: relative;
}

.mijnps-content {
    background: $color-white;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 2rem;
    padding-top: calc(2rem + 50px);
    position: relative;
    padding-bottom: 10rem;
    position: relative;

    @media only screen and (min-width: 400px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media only screen and (min-width: 900px) {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

.mijnps-footer {
    margin: 0 auto;
    max-width: 1200px;
    line-height: 1.3;
    padding: 0.5rem;
    font-size: 1.3rem;
}

.trustmark {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    height: 4.5rem;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 500px) {
        height: 3.7rem;
    }

    &__image {
        height: 100%;
        width: auto;
        margin-right: 1.3rem;
    }
}

::selection {
    background: rgba($color-secondary, 0.75);
    color: $color-black;
}

hr {
    color: rgba($color-black, 0.7);
    margin: 5rem;
}

// -----------------
// IMPORTS
// -----------------
@import './typography';
@import './components/lists';
@import './components/links';
@import './components/buttons';
@import './components/forms';
@import './components/tables';

@import './components/404';
@import './components/bericht';
@import './components/beschrijving';
@import './components/menu';
@import './components/voorstel-cards';
@import './components/fotoUpload';
@import './components/belafspraak';
@import './components/loader';
@import './components/notification';
@import './components/errors';
@import './components/dialog';
@import './components/nieuwsbericht';
@import './components/bemiddelaar-card';
@import './components/pb-card';
@import './components/bedankt';
@import './components/vragenlijsten';
